
{% extends 'template.html.twig' %}

{% block TitreBloc %}
    Création
{% endblock %}
{% block TitrePage %}
    Création d'un compte :
{% endblock %}

    {% block form %}
        <div class="container mt-2">
            <div class="row justify-content-lg-evenly">
                <div class="mb-4">
                        <div class="row-cols-md-3">
                    {{ form_start(registrationForm, {'action': path('app_register')}) }}
                    {{ form_row(registrationForm.username, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Nom d\'utilisateur', 'id': 'nom'}} )  }}

                            {{ form_row(registrationForm.roles,{'attr': {'class': 'form-control mb-4', 'placeholder': 'Roles'}} ) }}
                            {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Mot de passe'}}) }}
                         
                            {{ form_row(registrationForm.image, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Photo'}}) }}

                            <hr>
                            {{ form_row(registrationForm.agreeTerms,{'attr': {'class': 'checkbox', }} ) }}

                    <button class="btn btn-primary btn-block mt-3" type="submit">Ajouter</button>

                    {{ form_end(registrationForm) }}
                        </div>


                    {% if form_errors(registrationForm) %}
                        <div class="alert alert-danger mt-3">
                            {{ form_errors(registrationForm) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
