{% extends 'template.html.twig' %}

{% block title %}Filiere index{% endblock %}

{% block body %}
    <h1>Filieres</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Num</th>
                <th scope="col">Nom du filiere</th>
                <th scope="col">Modules</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for filiere in filieres %}
            <tr>
                <td>{{ filiere.id }}</td>
                <td>{{ filiere.nomFiliere }}</td>
                <td>{% for m in filiere.module %}
                    {{ m }} {% endfor %}</td>
                <td>
                    <a href="{{ path('app_filiere_show', {'id': filiere.id}) }}"><button>Aficher</button></a>
                    <a href="{{ path('app_filiere_edit', {'id': filiere.id}) }}"><button>Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Rien trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_filiere_new') }}"><button>Créer</button></a>
{% endblock %}
