{% extends 'template.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Num</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Nom de session</th>
                <td>{{ session.nomSession }}</td>
            </tr>
            <tr>
                <th>Date de début de session</th>
                <td>{{ session.dateDebSession ? session.dateDebSession|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin de session</th>
                <td>{{ session.dateFinSession ? session.dateFinSession|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_session_index') }}"><button>Retour</button></a>

    <a href="{{ path('app_session_edit', {'id': session.id}) }}"><button>Modifier</button></a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
