{% extends 'template.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>NomSession</th>
                <td>{{ session.nomSession }}</td>
            </tr>
            <tr>
                <th>DateDebSession</th>
                <td>{{ session.dateDebSession ? session.dateDebSession|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFinSession</th>
                <td>{{ session.dateFinSession ? session.dateFinSession|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_session_index') }}">back to list</a>

    <a href="{{ path('app_session_edit', {'id': session.id}) }}">edit</a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
