{% extends 'template.html.twig' %}

{% block title %}Modules{% endblock %}

{% block body %}
    <h1>Modules</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Num</th>
                <th scope="col">Nom du module</th>
                <th scope="col">Cours</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td>{{ module.id }}</td>
                <td>{{ module.nomModule }}</td>
                <td> {% for c in module.cours %}
                {{ c }} {% endfor %}</td>
                <td>
                    <a href="{{ path('app_module_show', {'id': module.id}) }}"><button>Afficher</button></a>
                    <a href="{{ path('app_module_edit', {'id': module.id}) }}"><button>edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Rien trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_module_new') }}"><button>Créer</button></a>
{% endblock %}
