{% extends 'template.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Utilisateurs :</h1>

    <table class="table">
        <thead class="thead-dark">

            <tr>
                <th scope="col">Num</th>
                <th scope="col">Nom d'utilisateur</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}"><button>Afficher</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Rien trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_register') }}"><button>Créer un nouveau compte</button></a>
{% endblock %}
