{% extends 'template.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Utilisateur: {{ user.username }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Num</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom d'utilisateur</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}"><button>Retour</button></a>


    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
