{% extends 'base.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}
    <h1>Etudiant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomEtudiant</th>
                <th>PrenomEtudiant</th>
                <th>AdresseMail</th>
                <th>DateNaissance</th>
                <th>NumTelEtudiant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.id }}</td>
                <td>{{ etudiant.nomEtudiant }}</td>
                <td>{{ etudiant.prenomEtudiant }}</td>
                <td>{{ etudiant.adresseMail }}</td>
                <td>{{ etudiant.dateNaissance ? etudiant.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ etudiant.numTelEtudiant }}</td>
                <td>
                    <a href="{{ path('app_etudiant_show', {'id': etudiant.id}) }}">show</a>
                    <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etudiant_new') }}">Create new</a>
{% endblock %}
